@import 'bootstrap/dist/css/bootstrap.css';

body {
  background: url(https://images.pexels.com/photos/585752/pexels-photo-585752.jpeg?auto=compress&cs=tinysrgb&w=800https://images.pexels.com/photos/585752/pexels-photo-585752.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); 
  background-size: cover;
  color: brown;
  text-align: center;
  margin-top: 100px;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

#get-joke-btn {
  background: rgba( 68, 41, 29, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: rgb(209, 210, 214);
  margin: 30px;
  }

  #get-joke-btn:hover {
    background: rgba( 139, 115, 94, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
    
    #get-joke-btn:active {
    background: rgba( 8, 3, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
